<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<meta charset="ISO-8859-1" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" th:href="@{../css/style.css}">

<style>

</style>

</head>
<body>
	
<footer th:fragment="footer">
			
	<div class="flex-container">
		<div class="logo-fr">
		</div>
		
	    <div class="contact-info">
			<p><i class="fas fa-map-marker-alt fa-lg"></i>&nbsp;
				Zambad Chowk, F-2 MIDC Ranjagaon, Waluj
				Aurangabad. Maharashtra 431003
			</p>
			<p>
			<i class="fas fa-phone-square-alt fa-lg"></i> &nbsp; +91 - 9370972241
			</p>
			
			<p>
				<i class="far fa-envelope fa-lg"></i>&nbsp;<a id="mailinfo" href="mailto:hello@gmlasdf.com"> hello@gmlasdf.com</a>
			</p>
		</div>	
		</div>
</footer>

</body>

</html>