<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Upload Documents</title>

<link th:href="@{/css/style.css}" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>

<link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<!-- <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<!-- <link rel ="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"> -->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.4.0/css/all.min.css"  />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

</head>
<body>
	
	<div th:replace="Header.html :: header">
	</div>
	
	<div th:replace="Sidebar.html :: sidebar">
	</div>
	
	<div class="container-addoc">
		<div class="float-child">
			<a th:href="@{uploaddocuments}"><i class="fa fa-upload fa-3x" aria-hidden="true"></i></a>
		</div>
		
		<div class="float-child">
			<a th:href="@{adddocument}"><i class="fas fa-folder-plus fa-3x"></i></a>
		</div>
		
		<div class="float-child">
			<a th:href="@{viewdocuments}"><i class="far fa-eye fa-3x"></i></a>
		</div>
		
	</div>
	<div class="icon-links">
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{uploaddocuments}">Upload Documents</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<a th:href="@{adddocument}">Add Document</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		
		<a th:href="@{viewdocuments}">View Documents</a>
	</div>
	
<div th:replace="Footer.html :: footer">

</div>
	
</body>
</html>